{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

<div _ngcontent-serverapp-c2="" class="about col-md-12"><div _ngcontent-serverapp-c2="" class="text-center">
    <img _ngcontent-serverapp-c2="" alt="flipkart Ads" src="https://flipkartads.azureedge.net/flipkartads/Catapilt-Logo.png">
</div>
<p _ngcontent-serverapp-c2="">The Flipkart Group is one of India's leading digital commerce entities and
     includes group companies Flipkart, Myntra, Flipkart Wholesale, Flipkart Health+ and Cleartrip.
      The Group is also a majority shareholder in PhonePe, one of the leading Payments Apps in India.</p>
<p _ngcontent-serverapp-c2="">Started in 2007, Flipkart has enabled millions of consumers, sellers,
     merchants, and small businesses to be a part of India's digital commerce revolution, with a registered customer base of more than 400 million, 
     offering over 150 million products across 80+ categories. Our efforts to democratize commerce in India, drive access and affordability, delight customers,
      create lakhs of jobs in the ecosystem, and empower generations of entrepreneurs and MSMEs have inspired us to innovate on many industry firsts. Flipkart is
       known for pioneering services such as Cash on Delivery, No Cost EMI and easy returns – customer-centric innovations have made online shopping more 
       accessible and affordable for millions of Indians. Together with its group companies, Flipkart is committed to transforming commerce in India through technology.</p>
<p _ngcontent-serverapp-c2="">With Catapult, Flipkart aims to provide an umbrella solution to a budding brand's financing &amp; marketing needs. The program offers
     marketing solutions and capital for new age direct-to-consumer brands to leapfrog into their next phase of growth. The offering goes beyond financing the brands 
     by providing creative services and effective acquisition cost reduction solutions.</p><p _ngcontent-serverapp-c2="">For more information on the <img _ngcontent-serverapp-c2="" 
        alt="flipkart Ads" src="https://flipkartads.azureedge.net/flipkartads/Catapilt-Logo.png">
         kindly write to us at <a _ngcontent-serverapp-c2="" href="mailto:catapult@flipkart.com">catapult@flipkart.com</a></p><p _ngcontent-serverapp-c2="">To know more about the
             ad experiences being offered by Flipkart, visit <a _ngcontent-serverapp-c2="" href="https://brands.flipkart.com/">brands.flipkart.com</a></p></div>

{% endblock %}
